.Wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: green;
}

.Keyboard {
  gap: 1px;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
}

.Key {
  color: #ffffff;
  background-color: green;
  height: 105px;
  flex: 1 0 calc(100% / 3 - 10px);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3em;

  /* Remove button style */
  -webkit-appearance: none;
  border-width: 0;
  border-radius: 0;
}
