.ListItem {
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  padding: 1em;

  display: flex;
}

.Currency {
  display: flex;
  align-items: center;
}

.Input {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;

  font-size: 1.5em;
}
